* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(20vh, auto) minmax(70vh, auto) minmax(10vh, auto);
      grid-template-rows: minmax(20vh, auto) minmax(70vh, auto) minmax(10vh, auto);
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.heading-container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-grid-rows: minmax(10vh, auto) minmax(7vh, auto);
      grid-template-rows: minmax(10vh, auto) minmax(7vh, auto);
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background-color: #F0D6AD;
  position: -webkit-sticky;
  position: sticky;
  top: -30%;
}

.logo-frame {
  width: 100%;
}

.logo {
  width: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.toggle-heading {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: #D10000;
  -ms-grid-columns: (minmax(25vw, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
}

.menu {
  color: #ffff;
  padding-left: 5%;
  padding-right: 7%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.toggle-heading a:hover {
  background: #514736;
  padding: 20px;
}

.menu-title {
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-family: Garamond;
  font-weight: bold;
  padding: 2%;
}

.phone-title {
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-weight: bold;
}

.image {
  display: block;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1%;
}

.image-size {
  width: 100%;
}

.welcome-frame {
  width: 100%;
}

.welcome {
  font-size: 2.8em;
  font-family: Garamond;
  color: #D10000;
  text-shadow: 3px 2px black;
  text-align: center;
  font-weight: bold;
  padding-top: 5%;
}

.row {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-grid-columns: minmax(15vw, 1fr) minmax(80vw, 1fr);
      grid-template-columns: minmax(15vw, 1fr) minmax(80vw, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.side-image {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
}

.column-right {
  margin-left: 3%;
  margin-right: 3%;
}

.sub-row1, .sub-row2, .sub-row3, .sub-row4 {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  -ms-grid-columns: (minmax(35vw, 1fr))[2];
      grid-template-columns: repeat(2, minmax(35vw, 1fr));
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.about {
  width: 100%;
  text-indent: 10%;
  text-align: justify;
  font-family: black;
  color: black;
  font-size: 1.3em;
}

.sub-row1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sub-row2 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sub-row3 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sub-row4 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.p1 {
  margin-top: 10%;
  width: 60%;
  margin-bottom: 5%;
}

.p2 {
  width: 100%;
  margin-bottom: 5%;
}

.p3 {
  width: 110%;
  margin-top: 15%;
}

.p4 {
  width: 60%;
  margin-top: 5%;
}

.footer {
  width: 100%;
  font-size: 1.5em;
  font-family: Garamond;
  background: #D10000;
  color: white;
  padding: 2%;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .heading-container {
    width: 100%;
    top: -22%;
  }
  .logo {
    width: 20%;
    margin-top: 1%;
  }
  .toggle-heading {
    width: 100%;
    display: block;
    background: none;
  }
  .toggle-heading a:hover {
    padding: 8px;
  }
  .menu {
    text-align: center;
    margin: 1%;
    background: #D10000;
    padding: 2%;
  }
  .menu-title {
    font-size: 0.8em;
  }
  .desktoptel {
    display: none;
  }
  .welcome-frame {
    font-size: 0.8em;
  }
  .welcome {
    font-weight: bold;
    padding-bottom: 10%;
  }
  .column-left {
    display: none;
  }
  .column-right {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (minmax(20vh, 1fr))[auto-fill];
        grid-template-rows: repeat(auto-fill, minmax(20vh, 1fr));
    justify-items: center;
    align-items: center;
  }
  .sub-row1, .sub-row2, .sub-row3, .sub-row4 {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-columns: 100vw;
        grid-template-columns: 100vw;
    -ms-grid-rows: (minmax(20vh, 1fr))[2];
        grid-template-rows: repeat(2, minmax(20vh, 1fr));
  }
  .sub-row1 div {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .sub-row1 div:nth-last-of-type(1) {
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .sub-row1 div:nth-last-of-type(2) {
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .sub-row2 div {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .sub-row2 div:nth-last-of-type(1) {
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .sub-row2 div:nth-last-of-type(2) {
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .sub-row3 div {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .sub-row3 div:nth-last-of-type(1) {
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .sub-row3 div:nth-last-of-type(2) {
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .sub-row4 div {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .sub-row4 div:nth-last-of-type(1) {
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .sub-row4 div:nth-last-of-type(2) {
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .p1 {
    width: 45%;
  }
  .p2 {
    width: 65%;
  }
  .p3 {
    width: 80%;
    padding-bottom: 10%;
  }
  .p4 {
    width: 45%;
  }
  .about {
    width: 100%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1em;
  }
  .footer {
    margin-top: 10%;
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .heading-container {
    top: -15%;
  }
  .logo {
    width: 23%;
  }
  .toggle-heading {
    -ms-grid-columns: (minmax(23vw, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(23vw, 1fr));
  }
  .toggle-heading a:hover {
    padding: 8px;
  }
  .menu-title {
    font-size: 1.1em;
  }
  .desktoptel {
    display: none;
  }
  .welcome {
    margin-bottom: 10%;
  }
  .column-left {
    display: none;
  }
  .column-right {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }
  .side-image {
    padding-top: 15%;
    padding-bottom: 25%;
  }
  .sub-row1, .sub-row2, .sub-row3, .sub-row4 {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90vw;
    -ms-grid-columns: (minmax(30vw, 1fr))[2];
        grid-template-columns: repeat(2, minmax(30vw, 1fr));
    justify-items: center;
    align-items: center;
    margin-left: 5%;
  }
  .p1 {
    width: 75%;
  }
  .p2 {
    width: 95%;
  }
  .p3 {
    width: 100%;
    padding-bottom: 10%;
  }
  .p4 {
    width: 70%;
  }
  .about {
    font-size: 1.4em;
    text-align: justify;
  }
  .footer {
    margin-top: 5%;
    width: 100%;
    font-size: 1.8em;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .heading-container {
    width: 100%;
    top: -18%;
  }
  .toggle-heading {
    -ms-grid-columns: (minmax(25vw, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
  }
  .toggle-heading a:hover {
    padding: 8px;
  }
  .logo {
    width: 25%;
  }
  .menu-title {
    font-size: 1.5em;
  }
  .phone-title {
    font-size: 1.5em;
  }
  .desktoptel {
    display: none;
  }
  .image {
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 1%;
  }
  .image-size {
    width: 100%;
  }
  .welcome {
    margin-bottom: 10%;
  }
  .column-left {
    width: 20vw;
    padding-left: 15%;
  }
  .side-image {
    padding-top: 15%;
    padding-bottom: 25%;
  }
  .sub-row1, .sub-row2, .sub-row3, .sub-row4 {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    -ms-grid-columns: (minmax(35vw, 1fr))[2];
        grid-template-columns: repeat(2, minmax(35vw, 1fr));
  }
  .p1 {
    width: 60%;
  }
  .p2 {
    width: 80%;
  }
  .p3 {
    width: 95%;
    padding-bottom: 10%;
  }
  .p4 {
    width: 70%;
  }
  .about {
    font-size: 1.6em;
  }
  .footer {
    margin-top: 5%;
    width: 100%;
    font-size: 1.8em;
  }
}

@media only screen and (min-width: 1201px) {
  .mobiletel {
    display: none;
  }
  .heading-container {
    top: -33%;
  }
  .toggle-heading {
    -ms-grid-columns: (minmax(23vw, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(23vw, 1fr));
  }
  .logo {
    width: 15%;
  }
  .menu-title {
    font-size: 1.2em;
  }
  .phone-title {
    font-size: 1.3em;
  }
  .footer {
    font-size: 1.8em;
  }
}
/*# sourceMappingURL=aboutus-style.css.map */