* {
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 600px) {
  .header_link { display: block; }  
}
.heading {  
  border: 5px dashed red; 
display: block;
background-color: rgb(129, 230, 213);
} 
body {
background-color: rgb(226, 198, 43);
}
.brand-name {
font-size: 2em;  
font-family: fantasy;
color: rgb(163, 8, 168);
text-shadow: 3px  2px blue;
}
.logo {
  width: 180;
  height: 150;    
} 

.anchor-center{
  text-align: center;
  padding: 30px;
  color:purple;
}    
.image-size{ 
  width: 22em;
  height: 22em;    
  padding-left: 130px;
  padding-right: 40px;
}
