@import "colors";

@mixin grid-layout($width) {
    display: grid;
    justify-items: center;
    align-items: center;
    width: $width;
}
@mixin adjust-center($dis, $left, $right, $top, $bottom) {
    display: $dis;
    margin-left: $left;
    margin-right: $right;
    margin-top: $top;
    margin-bottom: $bottom;
  }
  @mixin pizza-text($width, $f-size, $color, $f-weight, $f-type) {
    width: $width;
    font-size: $f-size;
    color: $color;
    font-weight: bold;
    font-family: $font;
    text-align: center;   
  }
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .page-container {
      width: 100%;
      display: grid;
      grid-template-rows: minmax(20vh,auto) minmax(70vh, auto) minmax(10vh, auto);
      grid-template-columns: 1fr;
  } 
  .heading-container{    
    @include grid-layout(100%);     
    grid-template-rows: minmax(10vh, auto) minmax(10vh, auto);
    grid-template-columns: 1fr;         
    background-color: $header-background-color; 
    position: sticky;
    top: -30%;
  }
  .logo-frame {
    width: 100%;
  }
  .logo {
    width: 10%;   
    @include adjust-center(block, auto, auto, 5px, 5px);       
  }
  .toggle-heading {
    width: 100%;
    background: #D10000; 
    display: grid;      
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));   
    justify-items: center;
    align-items: center;
  }   
  .menu {
    color: #ffff;   
    padding-left: 5%;
    padding-right:7%; 
    padding-top: 20px; 
    padding-bottom: 20px;   
  }
  .toggle-heading a:hover {
   background: $hover-color;
   padding: 20px;
  }
  /*.toggle-line {
    color: #ffff;
    font-size: 40px; 
    float: left;    
    padding-left:20%; 
    padding-top: 20px; 
    padding-bottom: 20px;
  }*/  
  .menu-title{    
    text-decoration: none;
    color: $font-border-color;
    font-size: 1em; 
    font-family: $font;
    font-weight: bold; 
  }   
  .phone-title {
    text-decoration: none;
    color: $font-border-color;
    font-size: 1em;  
    font-weight: bold;
  } 
  .content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;     
    padding-left: 5%;
    padding-right: 5%;      
  }
  .order {    
    width: 50%;
    font-size: 1em; 
  }   
  .order-now {   
    color: $body-color;     
    font-size: 1.1em; 
    font-weight: bold; 
    font-family: $font;
    text-align: center;    
    @include adjust-center(block, auto, auto, 2%, 2%);             
  }  
  .fa-hand-point-right {
    font-size: 50px;
    margin-right: 7%;
    visibility: hidden;
  }
  .fa-hand-point-down {
    font-size: 50px;
    visibility: hidden;
  }
  .delivery {  
    @include adjust-center(block, 0, 0, 2%, 2%);            
    text-decoration: none;  
    text-align: center;     
    background: $body-color;    
    font-family: $font;
    padding: 15px;          
    color: $font-border-color;
  }  
  .image-boundary {
    width: 90%;
    height: 87%;    
    border: 2px solid $header-background-color;
    margin-left: 10%;  
    margin-right: 10%;
    padding: 2%;
    margin-top: 25%;
  }
  .image {
    width: 100%;
    height: 70%;
    //padding: 1%;
   // margin-top: 2%;
    display: block;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;   
  }
  .p-name {
    @include pizza-text(100%,1em, $text-color, bold, $font);
    //text-align: center;
  }
  .p-description {
    @include pizza-text(100%, 0.6em, $text-color, none, $font);
  }
  .price-description {
    @include pizza-text(100%, 1.5em, $body-color, none, $font);
  } 
  .pizza-height {
  height: 53vh;
  }
  .add {
    font-size: 1em;
    text-align: center;     
    background: $body-color;    
    font-family: $font;    
    padding: 15px;          
    color: $font-border-color;
    margin-top: 25%;
  }
  .footer {
    width: 100%;
    font-size: 1.5em;
    font-family: $font;
    background: $body-color;
    color: $font-border-color;
    padding: 20px;
    text-align: center;
  }
  @media only screen and (max-width: 767px)
{ 
.logo {
  width: 20%; 
  margin-top: 1%;
  //margin-bottom: 2%;  
}
.toggle-heading {
  width: 100%;
  display: block;  
  background: none; 
}
.menu {
  text-align: center;
  margin: 1%;
  background: $body-color;
  padding: 0;
}
.menu-title {
  font-size: 1em;
}
.desktoptel {
  display: none;
} 
.content {
  display: block;  
}
.image-boundary {
  margin-left: auto;
  margin-right: auto;
}
.order {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
}
.order-now {
  margin-top: 1%;
  margin-bottom: 0;
  padding-bottom: 0;
}
.delivery {  
  margin-top: 0; 
  font-size: 1.5em;
}  
.image {
 width: 100%;
  height: 80%;
}
.p-name{
  font-size: 1.2em;
}
.p-description {
  font-size: 1em;
  margin-left: auto;
  margin-right: auto; 
}
.footer-frame {
  margin-top: 5%;
}
.footer{
  font-size: 1.2em;
}
}
@media only screen and (min-width: 768px) and (max-width: 1023px)
{ .heading-container {
  top: -25%;
}
  .logo {
    width: 23%;
  }
  .toggle-heading {
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));   
  }
  .content {    
    grid-template-columns: repeat(auto-fill, minmax(33vw, 1fr));    
  }
  .image {
    width: 80%;
    height: 80%;
   }
   .menu-title {
    font-size: 1.3em;
  }  
  .desktoptel {
    display: none;
  } 
  .content {    
    grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));     
  }
  .image-boundary {
    width: 80%;
    height: 88%;
    margin-left: auto;
    margin-right: auto;
  }
  .order {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
  }
  .order-now {
    margin-top: 1%;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .delivery {    
    margin-top: 0; 
    font-size: 1.5em;
  }  
  .image {
   width: 100%;
    height: 30%;
  }
  .pizza-height {
    height: 35vh;
  }
  .p-name{
    font-size: 1.5em;
  }
  .p-description {
    font-size: 1.3em;
    margin-left: auto;
    margin-right: auto; 
  }
  .footer-frame {
    margin-top: 5%;
  }
  .footer{
    font-size: 1.2em;
  }
}
@media only screen and (min-width:1024px) and (max-width: 1200px) {
  .mobiletel {
    display: none;
  }    
  .heading-container {
    top: -30%;
  }
  .toggle-heading {
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
   
  }
  .logo {
    width: 25%;
  }
  .menu-title {
    font-size: 1.5em;
  }
  .phone-title {
    font-size: 1.5em;
  }
  .content {
    margin-bottom: 5%;
  }
  .order {
    width: 90%;
    font-size: 1.5em;
  }
  .delivery {  
    width: 90%;
    margin-top: 0; 
    font-size: 1.5em;
  } 
  .content {    
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));    
  }
  .image-boundary {
    width: 100%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;      
  }
  .image {
   width: 100%;
   height: 43%;
  } 
  .pizza-height {
    height: 22vh;
  }
  .p-name {
    font-size: 1.8em;
    padding-bottom: 3%;
  }
  .p-description {
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;     
  }
  .price-description {
    font-size: 1.5em;
  }
}
@media only screen and (min-width:1201px){
  .mobiletel {
    display: none;
  }
  .heading-container {
    top: -30%;
  }
  .toggle-heading {
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));   
  }
  .logo {
    width: 15%;
  }
  .menu-title {
    font-size: 1.5em;
  }
  .phone-title {
    font-size: 1.5em;
  }
  .image-boundary {
    width: 90%;
    height: 77%;
    margin-left: auto;
    margin-right: auto;      
  }
  .image {
   width: 100%;
   height: 70%;
  } 
  .pizza-height {
    height: 28vh;
  }
}